@font-face {
  font-family: vazir;
  src: url("/font/Vazirmatn-Medium.woff2");
  font-weight: bolder;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazir;
}
body {
  background-color: #989a9c;
  max-width: 800px;
  direction: rtl;
  font-size: 16px;
  min-height: 100%;
  text-align: center;
  margin: 100px auto 0;
  overflow: hidden;
}
a {
  text-decoration: none;
  font-size: 28px;
  display:block;
  width: 210px;
  height: 80px;
  background-color: #fff;
  text-align: left;
  padding-left: 20px;
  transition: .5s;
  margin-bottom: 10px;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  
}
a::before{
  content: '';
  position: absolute;
  top:10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background-color: #b1b1b1;
  transform: rotate(0) skewY(-45deg);
  }
  a::after{
    content: '';
  position: absolute;
  height: 20px;
  width: 100%;
  bottom:-20px;
  left: -10px;
  
  background-color: #b1b1b1;
  transform: rotate(0) skewx(-45deg);
    }
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.course-title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 34px;
  color:black
}
ul{
  /* background-color: #fff; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}
ul li{
  margin: 0 5px;

}
ul li a span{
  position: absolute;
  top: 50%;
  color:#262626;
  letter-spacing: 1px;
  transition: .5s;
  left:50%;
  transform: translate(-50%,-50%);

}
a:hover{
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
   
}
ul li a:hover span{
  color:#fff;
}
ul li:hover:nth-child(1) a{
  background-color: #3b5998;
} 
ul li:hover:nth-child(1) a::before{
  background-color: #2e4b84;
} 
ul li:hover:nth-child(1) a::after{
  background-color: #45567b;
} 
ul li a:hover span{
  color:#fff;
}
ul li:hover:nth-child(2) a{
  background-color: #00aced;
} 
ul li:hover:nth-child(2) a::before{
  background-color: #097aa5;
} 
ul li:hover:nth-child(2) a::after{
  background-color: #53b9e0;
} 
ul li:hover:nth-child(3) a{
  background-color: #dd4b39;
} 
ul li:hover:nth-child(3) a::before{
  background-color: #b33a2b;
} 
ul li:hover:nth-child(3) a::after{
  background-color: #e66a5a;
} 
ul li:hover:nth-child(4) a{
  background-color: #e4405f;
} 
ul li:hover:nth-child(4) a::before{
  background-color: #d81c3f;
} 
ul li:hover:nth-child(4) a::after{
  background-color: #e46880;
} 

