@font-face {
  font-family: vazir;
  src: url("/font/Vazirmatn-Medium.woff2");
  font-weight: bolder;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazir;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  /* background-color: #d0dde9; */
  width: 100%;
  height: 100%;
}
.course-title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 34px;
  color: black;
}
.blog-card{
  display:flex;
  flex-direction: column;
  margin: 16px auto;
  box-shadow: 0 3px 7px -1px rgba(0,0,0,.1);
  background-color: #fff;
  /* color:#000; */
  line-height: 1.4;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
}
.blog-card a{
  color: #fff;
}
.blog-card a:hover{
  color:#5ad67d;
}
.blog-card .meta{
  position: relative;
  height: 200px;
}
.blog-card .meta .photo{
  background-image: url(/img/boreshkari.jpg);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  transition: transform .2s;
}
.blog-card:hover .photo{
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta .details{
  position: absolute;
  top:0;
  bottom: 0;
  /* left: -100px; */
  margin: auto;
  background-color: rgba(0,0,0,.6);
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  font-size: 19px;
  opacity:0;
}
.blog-card:hover .details{
  opacity: 1;
}
.blog-card .meta .details ul li{
  display: inline-block;
}
.blog-card .meta .details .author,
.blog-card .meta .details .date,
.blog-card .meta .details .tags{
  margin: 10px;
  width: 125px;
  font-size: 15px;
}
.blog-card .meta .details .author i,
.blog-card .meta .details .date i{
margin-left: 10px;
}
 .blog-card .description{
  padding: 18px;
  position: relative;
  z-index: 1;
   background-color: #fff; 
}
.blog-card .description h1{
  line-height: 2;
  font-size: 23px;
}

.blog-card .description h2{
  line-height: 2;
  font-size: 16px;
  color: #a2a2a2;
  font-weight: 300;
  margin: 10px 0;
}

.blog-card .description .read-more{
  position: absolute;
  bottom: 0;
  left: 0;
}
.blog-card .description .read-more a{
  color: #fff;
  padding: 6px 28px;
  background-color: rgba(52,120,221);
  border-radius: 0 5px;
  font-size: 15px;
}
.blog-card .description p{
  position: relative;
  margin: 16px 0 0;
  font-size: 17px;
  line-height: 29px;
}

.blog-card .description .read-more p{
position: relative;
margin: 16px 0 0;
font-size: 17px;
line-height: 29px;
}

.blog-card .description  p{
  position: relative;
  margin: 16px 0 0;
  font-size: 17px;
  line-height: 29px;
  text-align: justify;
  }
.blog-card .description p:first-of-type::before{
  content: '';
  position: absolute;
  height: 5px;
  background-color: #5ad67d;
  width: 35px;
  top:-21px;
  border-radius: 3px;
  margin-bottom: 21px;

}
.blog-card .description p:first-of-type{
  margin-top: 20px;
}
@media screen and (min-width:640px){
  .blog-card{
    flex-direction: row;
    max-width: 700px;
    height: 300px;
    overflow: hidden;
  }
  .blog-card .meta{
    height: auto;
    flex-basis: 40%;
  }
  .blog-card .description{
    flex-basis: 220%;
    transition: .5s ease;
  }
  .blog-card:hover .description{
    flex-basis: 60%;
   }
  .blog-card .description::before{
    content: '';
    background-color: rgb(255, 255, 255);
    width: 30px;
    /* height: 10px; */
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    transform: skewx(-3deg);
  }
} 
