@font-face {
  font-family: vazir;
  src: url("/font/Vazirmatn-Medium.woff2");
  font-weight: bolder;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazir;
}
body {
  background-color: #e0c477;
  max-width: 800px;
  direction: rtl;
  font-size: 16px;
  min-height: 100%;
  /* text-align: center; */
  margin: 100px auto 0;
  overflow: hidden;
  /* justify-content: center; */
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.course-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 34px;
  color: black;
}
.container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 100px auto;
  padding: 15px;
  border-radius: 5px;
}
.input-group {
  position: relative;
}
.input-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #efefef;
  padding: 0 10px;
  outline: 0;
  margin-bottom:25px;
  margin-top: 10px;
}
.input-group .btn {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 226, 27);
  font-size: 18px;
  padding: 5px 10px;
}
.input-group .btn:hover {
  background-color: rgb(16, 143, 16);
  transition: all 1s ease;
}
.input-group i#show-pass {
  position: absolute;
  top: 22px;
  left: 13px;
  color: #9d9c9c;
  transition: all 1s ease;
}
.input-group i#show-pass:hover{
  color: #157cf1;
  cursor: pointer;
}
